name: Test build

on:
  push:
    branches:
      - main

jobs:
  regenerate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure
        run: ./configure
   
      - name: Build
        run: make
