name: Test build

on:
  push:
    branches:
      - main

jobs:
  regenerate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y xorriso mtools grub-pc-bin grub-common

      - name: Configure
        run: ./configure
   
      - name: Build
        run: make
